@using Microsoft.AspNetCore.Components.Authorization

@implements IDisposable

@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<RadzenHeader>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
        <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
        <RadzenLabel Text="ShireBudgeters" />
    </RadzenStack>
</RadzenHeader>
<RadzenSidebar FullHeight="true" Responsive="false" @bind-Expanded="@sidebarExpanded" style="position: absolute; z-index: 3">
    <RadzenStack AlignItems="AlignItems.End" class="rz-p-2">
        <RadzenButton Icon="west" Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" Click="@(() => sidebarExpanded = false)" />
    </RadzenStack>
    <RadzenPanelMenu>
        <AuthorizeView>
            <Authorized>
                <RadzenPanelMenuItem Text="Dashboard" Path="/admin/dashboard" />
                <RadzenPanelMenuItem Text="Categories" Path="/admin/categories" />
                <RadzenPanelMenuItem Text="Posts" Path="/admin/posts" />
                <RadzenPanelMenuItem Text="Lead Magnets" Path="/admin/lead-magnets" />
                <RadzenPanelMenuItem Text="Logout" Click="@(_ => NavigationManager.NavigateTo("/Account/Logout", forceLoad: true))"></RadzenPanelMenuItem>
            </Authorized>
            <NotAuthorized>
                <RadzenPanelMenuItem Text="Login" Path="/Account/Login" Icon="login" />
            </NotAuthorized>
        </AuthorizeView>
    </RadzenPanelMenu>
</RadzenSidebar>
@if (sidebarExpanded)
{
    <div @onclick="@(() => sidebarExpanded = false)" class="rz-dialog-mask" style="position: absolute; z-index: 2"></div>
}

@code {

    private string? currentUrl;
    private bool sidebarExpanded = true;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

@code {
}